@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  width: 100%;
  gap: 50px;
  padding: 16px;
}
.sidebar-container{
  width:10%;
}
.appointment-details-container{
  width:90%;
  background-color: #ffffff;
  border-radius: 0.8em;
  padding: 1.6em;
  box-shadow: 0px 0px 0.8em rgba(0, 0, 0, 0.0588235294);
}
.doctor-details-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 15px;
  border-radius: 10px;
}
.name-details{
  display: flex;
  flex-direction: column;
  gap:2px;
}
.contact-details-container{
  display: flex;
  gap:10px;
}
.contact-details{
  display: flex;
  flex-direction: column;
  gap:2px;
}
.personal-details{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.btn-container{
  display: flex;
  gap:10px;
}
.btn-1{
  border:2px,solid,green;
  color: green;
  font-size: 15px;
  padding: 2px;
  border-radius: 10px;
}
.btn-2{
  border:2px,solid,green;
  color: green;
  font-size: 15px;
  padding: 2px;
  border-radius: 10px;
}
.btn-3{
  border:2px,solid,green;
  color: green;
  font-size: 15px;
  padding: 4px;
  border-radius: 10px;
}
.btn-1:hover{
  background-color: green;
  color: white;
}
.btn-2:hover{
  background-color: green;
  color: white;
}
.btn-3:hover{
  background-color: green;
  color: white;
}

.details-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color:#ffffff;
}
.additional-details-container{
  margin-top: 15px;
  width: 100%;
  border-radius: 10px;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  gap: 10px;
  padding: 20px;
}
.additional-details-container p{
  text-align: center;
}
.submit-btn{
  margin-top: 10px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.submit-btn button{
  padding:10px;
  border:2px,solid,green;
  color: green;
  font-size: 15px;
  border-radius: 10px;
}
.submit-btn button:hover{
  background-color: green;
  color: white;
}

.accordion {
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.accordion-item {
  border-top: 1px solid #ccc;
}

.accordion-item:first-of-type {
  border-top: none;
}


.accordion-content {
  padding: 15px;
  display: none;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
}

.accordion-item.active .accordion-content {
  display: block;
}

.accordion-item.active .accordion-button:after {
  content: "-";
}

